@import "tailwindcss";

@font-face {
  font-family: 'Baloo 2';
  src: url('/fonts/baloo2/baloo2_variable_font_wght.ttf') format('truetype');
  font-weight: 400 800; /* Baloo 2's supported wght range */
  font-style: normal;
  font-display: swap;
}

/* Montserrat — variable, normal */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat_variable_font_wght.ttf') format('truetype');
  font-weight: 100 900; /* Montserrat's supported wght range */
  font-style: normal;
  font-display: swap;
}

/* Montserrat — variable, italic */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/montserrat_italic_variable_font_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-baloo: 'Baloo 2', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* TODO: Activate this Styles for DARK MODE ENABLEMENT */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.scroll-down {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #ffffff;
}

.scroll-down svg {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: var(--font-baloo);
}